/* fuente para la pagina */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');


*
 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
 {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    color: #333;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
   
}

/* estilos del header */
header 
{
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

header h1 {
    font-weight: 600;
}

/* estilos navegacion */
nav 
{
    background-color: #f4f4f4;
    padding: 1rem;
}

nav ul 
{
    list-style-type: none;
    display: flex;
    justify-content: center;
}

nav ul li
 {
    margin: 0 1rem;
}

nav ul li a 
{
    text-decoration: none;
    color: #333;
    font-weight: 400;
    transition: color 0.3s ease;
}

nav ul li a:hover 
{
    color: #007bff;
}

/* estilos para el footer */
footer
 {
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 1rem;

    position: fixed;
    bottom: 0;

    width: 100%;
    left: 0;
}

/* diseno para los dispositivos mobiles */
@media (max-width: 768px)
{
    nav ul 
    {
        flex-direction: column;

        align-items: center;
    }

    nav ul li
     {
        margin: 0.5rem 0;
    }
}